<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oauth Client User Password</title>
</head>
<body ng-app="UserPassApp">
    <div ng-controller="DummyController">
        <h1>Oauth Client User Password</h1>
        Username : <input type="text" ng-model="username">
        Password : <input type="text" ng-model="password">

        <hr>

        <button ng-click="requestToken()">Request Token</button>

        <hr>

        <button ng-click="requestKeResourceServer()">Merequest ke Resource Server</button>
        <div>
            {{responseDariServer}}
        </div>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/aplikasi.js"></script>
</body>
</html>